node_modules
.git
dist
build
out
.cache
logs
tmp
*.log
*.tgz
*.zip
bun.lockb
.venv
.pytest_cache
.DS_Store
.env
coverage
**/node_modules
**/.next
**/.parcel-cache
/.vscode
*.pem
docker-compose.override.yml
secrets/*.key
secrets/*.pem
